<ion-view view-title="Home" data-ng-controller="HomeCtrl as homeCtrl">
	<ion-content>
		<!-- pull to refresh -->
		<ion-refresher  pulling-text="Pull to refresh..." on-refresh="homeCtrl.updateList()"></ion-refresher>

		<br></br>
		<div class="row">
			<div class="col">
				<button ng-click="homeCtrl.loginViaFB()" class="button">Facebook Login</button>
			</div>
		</div>

		<div class="row">
			<div class="col">
				<img src="{{ homeCtrl.imageTaken }}" width="100%">
			</div>
		</div>

		<br></br>
		<div class="row">
			<div class="col">
				<button ng-click="homeCtrl.selectMedia()" class="button">Select Media</button>
			</div>
		</div>

		<br></br>
		<div class="row">
			<div class="col">
				<button ng-click="homeCtrl.takePicture()" class="button">Take Picture</button>
			</div>
		</div>

		<br>
		<div class="row">
			<div class="col">
				<button ng-click="homeCtrl.shareThisItem()" class="button">Share This Item</button>
			</div>
		</div>




		<div class="row" ng-repeat="img in homeCtrl.imgFeed">
			<div class="col-50">
				<img ng-src="{{ img.img }}" style="width:100%"/>
				<br>
			</div>
		</div>

		<br></br>
		<div class="row">
			<div class="col">
				<button ng-click="homeCtrl.shareThisImage()" class="button">Share This Image</button>
			</div>
		</div>

		<br></br>
		<div class="row">
			<div class="col">
				<button ng-click="homeCtrl.showLogin()" class="button">Login First</button>
			</div>
		</div>

		<br></br>
		<div class="row">
			<div class="col">
				<button ng-click="homeCtrl.submitToServer()" class="button">Subnit to the server</button>
			</div>
		</div>

		<br></br>
		<div class="row">
			<div class="col">
				<button ng-click="homeCtrl.myPopup()" class="button">Show me alert</button>
			</div>
		</div>


		<div class="row" ng-repeat="img in homeCtrl.photos">
			<div class="col-50">
				<img ng-src="{{ img.img }}" style="width:100%"/>
				<br>
			</div>
		</div>
		
		<ion-infinite-scroll ng-if="homeCtrl.stillHaveData" on-infinite="homeCtrl.loadMore()" distance="50%">
		</ion-infinite-scroll>
	</ion-content>
</ion-view>