<ion-modal-view>

	<ion-header-bar class="bar bar-header bar-positive">
		<button ng-click="closeMe()" class="button button-clear button-primary">
			Close
		</button>

		<button ng-click="login()" class="button button-clear button-primary">
			Login
		</button>
	</ion-header-bar>

	<ion-slide-box>
		<ion-slide>
			<div style="height:300px;background-color:blue">
			</div>
		</ion-slide>
		<ion-slide>
			<div style="height:300px;background-color:red">
			</div>
		</ion-slide>
		<ion-slide>
			<div style="height:300px;background-color:yellow">
			</div>
		</ion-slide>
	</ion-slide-box>

	<!--<ion-content>
		<div class="list">
			<label class="item item-input">
				<span class="input-label">Email</span>
				<input type="text" placeholder="Email">
			</label>
			<label class="item item-input">
				<span class="input-label">Password</span>
				<input type="password">
			</label>
		</div>
	</ion-content>-->

</ion-modal-view>