<ion-view view-title="Home" data-ng-controller="HomeCtrl as homeCtrl">
	<ion-content class="padding">

		<!-- body -->

		<div>
			<h1>Home Page</h1>
		</div>
		<div>
			<button ng-click="homeCtrl.logout()">Logout</button>
		</div>

		<!-- end body -->

	</ion-content>
</ion-view>