<ion-view view-title="Login" data-ng-controller="LoginCtrl as loginCtrl">
	<ion-nav-buttons>
		<button class="button">HOME</button>
	</ion-nav-buttons>

	<ion-content class="padding">

		<!-- body -->

		<div>
			<h1>Login Page</h1>
		</div>
		<div>
			<button ng-click="loginCtrl.login()">Login</button>
		</div>

		<!-- end body -->

	</ion-content>
</ion-view>