<ion-view view-title="Wedding Gram">
	<ion-content class="padding">

	<!-- body -->
	<div class="container main"
     data-ng-controller="PostListCtrl as ctrl">
	    <div class="row w-card" data-ng-repeat="post in ctrl.posts track by $index">
	        <div class="col-xs-3 visible-md visible-lg"></div>
	        <div class="col-md-6 col-xs-12">

	            <div class="posted-by">
	                <span class="profile">
	                    <img src="img/default-user.jpg" alt=""/>
	                </span>
	                <span style="line-height: 34px; margin-left: 10px;">Nikhil Bhandari</span>

	                <span style="float: right;line-height: 34px;">22 June</span>

	            </div>

	            <img ng-src="{{post.url}}" style="border: thin solid #ddd;"/>

	            <div class="description">
	                <div class="caption">
	                    {{post.caption}}
	                </div>
	                <div class="likes-comments">
	                    <a data-ng-click="ctrl.like(post)" style="cursor: pointer;">
	                        <img class="like-image"
	                             src="img/like.png"
	                             alt=""/>
	                    </a>
	                    <span class="like-count">
	                        {{post.likeCount || 0}}
	                    </span>
	                    <a  ng-controller="CommentListCtrl as commentCtrl" ng-init="commentCtrl.getComments(post.id)" ng-click="commentCtrl.showComments(post)" class="add-comment">{{commentCtrl.comments.length}} Comments</a>
	                </div>
	            </div>
	        </div>
	        <div class="col-xs-3"></div>
	    </div>

	    <div class="row footer">
	        <a class="load-more">Load More</a>
	    </div>

	</div>

	</ion-content>
</ion-view>