<ion-view view-title="Home" data-ng-controller="HomeCtrl as homeCtrl">
	<ion-content class="padding">

		<!-- body HTML tag -->
		<div class="list card">
			<div class="item item-body">
				<button class="button button-positive" ng-click="homeCtrl.doLogout()">
					Logout
				</button>
			</div>	
		</div>

		<br></br>
		<div class="row" ng-repeat="img in homeCtrl.imgFeed">
			<div class="col">
				<img ng-src="{{ img.img }}" style="width:100%"/>
				<br>
			</div>
		</div>

	</ion-content>
</ion-view>