<ion-view view-title="Login" data-ng-controller="LoginCtrl as loginCtrl">
	<ion-content class="padding">

		<div class="list">
			<label class="item item-input">
				<span class="input-label">
					Email
				</span>
				<input type="text" ng-model="loginCtrl.user.email"/>
			</label>
			<label class="item item-input">
				<span class="input-label">
					Password
				</span>
				<input type="password" ng-model="loginCtrl.user.password"/>
			</label>
			<div class="padding">
				<button class="button button-block button-positive" ng-click="loginCtrl.doLogin()">Login</button>
			</div>
		</div>

	</ion-content>
</ion-view>