<ion-view view-title="Settings">
	<ion-content class="padding">

		<!-- body HTML tag -->
		<div class="list card">
			<div class="item item-body">
				<div class="list">
					<a class="item item-icon-left">
						<i class="icon ion-email"></i>
						Check Email
					</a>
					<a class="item item-icon-left">
						<i class="icon ion-email"></i>
						Another Check Email
					</a>
				</div>
			</div>	
		</div>

	</ion-content>
</ion-view>