<ion-tabs>
	<ion-tab icon-on="ion-home" icon-off="ion-home" href="#/tab/home">
		<ion-nav-view name="tab-home">
		</ion-nav-view>
	</ion-tab>
	<ion-tab icon-on="ion-wrench" icon-off="ion-wrench" href="#/tab/settings">
		<ion-nav-view name="tab-settings">
		</ion-nav-view>
	</ion-tab>
</ion-tabs>